@use "../sass-utils/variables" as color;

nav {
  background-color: color.$primary-color;
  padding-block: 2.5rem;
}

.navbar-toggler {
  background-color: white;
  background-clip: border-box;

  &:is(:hover, :focus) {
    box-shadow: 0 0 0.125em 0.25em rgb(white, 0.3) !important;
  }
}

.nav {
  &__logo-container {
    width: 60px;
    height: 40px;
    display: block;

    @media (min-width: 576px) {
      height: 55px;
    }

    @media (min-width: 768px) {
      width: 200px;
      height: 70px;
    }

    img {
      height: 100%;
      object-fit: contain;

      @media (min-width: 768px) {
        width: 100%;
      }
    }
  }

  &__genres-dropdown {
    @media (min-width: 768px) {
      margin-right: auto;
      margin-top: 2.3rem;
    }

    a {
      color: color.$primary-white;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        color: white;
      }
    }
  }

  &__genres-links {
    width: 350px;
    height: 200px;
    overflow: scroll;

    @media (max-width: 768px) {
      display: flex;
      height: 105px;
      background-color: transparent !important;
      width: 275px;
      border: white !important;
    }
    a {
      color: black;
      font-weight: 400;

      @media (max-width: 768px) {
        color: white;

        &:is(:hover, :focus) {
          color: black !important;
          background-color: white !important;
        }
      }
    }
  }

  &__login,
  &__cart {
    color: color.$primary-white;
    text-decoration: none;

    &:hover {
      color: color.$primary-white;
    }
  }
}
