// global
$primary-color: #251f47;
$primary-white: #ffffff;
$primary-red: #ff4848;
$gray-light: #545454;
$text-color: #686868;

$profile-border-color: #a7a1a1;

// BOOK CARD
$tag-bg: #7ed4a7;

$breadcrumb-divider: quote(">");
