// global
$primary-color: #251f47;
$primary-color-light: #251f47dc;
$primary-white: #ffffff;
$primary-red: #ff4848;
$primary-red-light: #ff4848b2;
$gray-light: #545454;
$text-color: #686868;
$cart-bg: #eef0f2;
$dark: #000000;

$profile-border-color: #a7a1a1;
$border-color-light: #a7a1a183;

// BOOK CARD
$tag-bg: #7ed4a7;

$breadcrumb-divider: quote(">");
