@use "../sass-utils/variables" as symbol;

.breadcrumb-item + .breadcrumb-item::before {
  content: symbol.$breadcrumb-divider !important;
}

.breadcrumb {
  margin-bottom: 2.8125rem !important;
  font-style: italic;
}

.breadcrumb-item a {
  color: symbol.$text-color;
  text-decoration: none;

  &:hover {
    color: symbol.$text-color;
  }
}
