#zoom-img-wrapper {
  &::selection {
    background-color: transparent;
  }
  .product-details__img__main {
    display: block;
    width: 570px;
    aspect-ratio: 0.8/1;
    margin-inline: auto;

    @media (max-width: 576px) {
      height: minmax(450, 490px);
    }
  }

  .zoomImg {
    cursor: zoom-in;
  }
}
