@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&family=Rubik:wght@500&display=swap");
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h6,
h1 {
  margin: 0 !important;
}

input::-moz-placeholder {
  font-family: "Lato", sans-serif;
}

input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
}

input::placeholder {
  font-family: "Lato", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff !important;
  background: #251f47 !important;
}

ul {
  padding: 0 !important;
}

.form-control {
  padding: 0.625rem 0.725rem !important;
  font-family: "Lato", sans-serif !important;
  background: #f6f6f6 !important;
  border: none !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border: 1px solid #c6c6c6 !important;
  border-radius: 0.235rem !important;
}
@media (max-width: 767px) {
  .form-control {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .form-control::-moz-placeholder {
    font-size: 0.875rem;
  }
  .form-control:-ms-input-placeholder {
    font-size: 0.875rem;
  }
  .form-control::placeholder {
    font-size: 0.875rem;
  }
}

.form-label {
  color: #686868;
  margin-bottom: 0.3rem !important;
}
@media (max-width: 767px) {
  .form-label {
    font-size: 0.875rem;
  }
}

.form-check-input:checked {
  background-color: #251f47 !important;
  border-color: #251f47 !important;
}

.form-check-label {
  color: #686868;
}
@media (max-width: 767px) {
  .form-check-label {
    font-size: 0.875rem;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #251f47 !important;
  color: #ffffff !important;
}

.nav-pills .nav-link {
  color: black !important;
  text-align: start;
  border-radius: 5px !important;
  padding: 9px !important;
}

.slick-slide {
  margin: 0 10px;
}

.irs--round .irs-handle {
  border: 4px solid #251f47 !important;
  background-color: #251f47 !important;
}

.irs--round .irs-bar {
  background-color: #251f47 !important;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  background-color: #251f47 !important;
}

.irs--round .irs-from::before,
.irs--round .irs-to::before,
.irs--round .irs-single::before {
  border-top-color: #251f47 !important;
}

nav {
  background-color: #251f47;
  height: 110px;
}

.nav__logo-container {
  width: 200px;
  height: 70px;
  display: block;
}
.nav__logo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__genres-dropdown a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}
.nav__genres-dropdown a:hover {
  color: white;
}
.nav__genres-links {
  width: 350px;
  height: 200px;
  overflow: scroll;
}
.nav__genres-links a {
  color: black;
  font-weight: 400;
}
.nav__login, .nav__cart {
  color: #ffffff;
  text-decoration: none;
}
.nav__login:hover, .nav__cart:hover {
  color: #ffffff;
}

footer {
  background-color: #251f47;
  color: #ffffff;
}

.footer__logo-container {
  width: 200px;
  height: 70px;
  display: block;
}
.footer__logo-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__info-l {
  margin: 0.425rem 0;
}
.footer__links, .footer__icons {
  margin: 0.625rem 0;
}
.footer__links a, .footer__icons a {
  color: #ffffff;
  text-decoration: none;
}
.footer__links a:hover, .footer__icons a:hover {
  color: #ffffff;
}

.magnifier-thumb-wrapper {
  position: relative;
  display: block;
  top: 0;
  left: 0;
}

.magnifier-lens {
  position: absolute;
  border: solid 1px #ccc;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow: hidden;
}

.magnifier-loader {
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px #ccc;
  color: #fff;
  text-align: center;
  background: transparent;
  background: rgba(50, 50, 50, 0.5);
  z-index: 1000;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232);
}

.magnifier-loader-text {
  font: 13px Arial;
  margin-top: 10px;
}

.magnifier-large {
  position: absolute;
  z-index: 100;
}

.magnifier-preview {
  padding: 0;
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  left: 40rem;
  top: 0;
}

.magnifier-preview img {
  position: absolute;
  top: 0;
  left: 0;
}

.opaque {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.hidden {
  display: none;
}

.card__img-container {
  position: relative;
  width: 100%;
  height: 275px;
  display: block;
}
.card__img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.card__circle {
  background-color: #251f47;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__circle i {
  cursor: pointer;
  font-size: 1.1rem !important;
}
.card__content {
  padding: 20px 5px 10px 5px;
}
.card__content a {
  color: black;
  text-decoration: none;
}
.card__content a h6 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.15rem;
  min-height: 45px;
}
.card__content a h6:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
.card__price {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  color: #ff4848;
}
.card__price p {
  color: #545454;
  text-decoration: line-through;
  font-size: 0.825rem;
}
.card__buttons {
  display: flex;
  gap: 5px;
  position: absolute;
  right: 5px;
  bottom: 80px;
  z-index: 9999;
}

.global-btn {
  background-color: #251f47;
  color: #ffffff;
  padding: 10px 50px;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .global-btn {
    font-size: 0.875rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
}

.breadcrumb {
  margin-bottom: 2.8125rem !important;
  font-style: italic;
}

.breadcrumb-item a {
  color: #686868;
  text-decoration: none;
}
.breadcrumb-item a:hover {
  color: #686868;
}

.pagination {
  --bs-pagination-border-width: 0 !important;
  --bs-pagination-border-color: none !important;
  ---bs-pagination-active-bg: color.$primary-color !important;
  --bs-pagination-active-border-color: color.$primary-color !important;
}

.active > .page-link,
.page-link.active {
  background-color: #251f47 !important;
  color: white !important;
  border-radius: 5px !important;
}

.page-link {
  color: #251f47 !important;
}

.rating {
  border: none;
}

.rating > [id^=star] {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > [id^=star]:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #000000;
} /* hover previous stars in list */
.rating > [id^=star]:checked + label:hover,
.rating > [id^=star]:checked ~ label:hover,
.rating > label:hover ~ [id^=star]:checked ~ label,
.rating > [id^=star]:checked ~ label:hover ~ label {
  color: #545454;
}

.main__banner-container {
  width: 100%;
  height: 330px;
}
.main__banner-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__banner-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 35%;
     object-position: 50% 35%;
}
.main__banner-content {
  position: absolute;
  top: 0;
  z-index: 2;
  color: #ffffff;
  height: 100%;
  width: 100%;
}
.main__banner-label {
  width: 50%;
}
@media (max-width: 991px) {
  .main__banner-label {
    width: 75% !important;
  }
  .main__banner-label h1 {
    font-size: 1.5rem;
  }
}
.main__banner-input {
  position: relative;
  width: 50% !important;
}
@media (max-width: 991px) {
  .main__banner-input {
    width: 75% !important;
  }
}
.main__banner-input input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__banner-input-search {
  background: none;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.main__banner-input-search i {
  color: #6b6b6b !important;
  cursor: pointer;
}
.main__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.62;
  z-index: 1;
}

.section {
  position: relative !important;
}
.section__popular, .section__new-arrivals, .section__recommended {
  margin: 4rem 0;
}

.carousel__buttons {
  display: flex;
  position: relative;
}
@media (max-width: 675px) {
  .carousel__buttons {
    justify-content: center;
    gap: 1rem;
  }
}
.carousel__btn-left {
  position: absolute;
  top: -225px;
  left: -50px;
  cursor: pointer;
}
@media (max-width: 675px) {
  .carousel__btn-left {
    position: static;
  }
}
.carousel__btn-right {
  position: absolute;
  top: -225px;
  right: -50px;
  cursor: pointer;
}
@media (max-width: 675px) {
  .carousel__btn-right {
    position: static;
  }
}

.carousel-popular__buttons {
  display: flex;
  position: relative;
}
@media (max-width: 675px) {
  .carousel-popular__buttons {
    justify-content: center;
    gap: 1rem;
  }
}
.carousel-popular__btn-left {
  position: absolute;
  top: -225px;
  left: -50px;
  cursor: pointer;
}
@media (max-width: 675px) {
  .carousel-popular__btn-left {
    position: static;
  }
}
.carousel-popular__btn-right {
  position: absolute;
  top: -225px;
  right: -50px;
  cursor: pointer;
}
@media (max-width: 675px) {
  .carousel-popular__btn-right {
    position: static;
  }
}

.new-arrivals__grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}
.new-arrivals__view-more {
  color: #000;
  text-decoration: none;
}
.new-arrivals__view-more:hover {
  color: #000;
  text-decoration: underline;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.login__logo-container {
  display: block;
  width: 85%;
  height: 80px;
  margin-top: 1rem;
}
.login__logo-container img {
  -o-object-fit: contain;
     object-fit: contain;
}
.login__banner-img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 767px) {
  .login__banner-img {
    display: none;
  }
}
.login__banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.login__head {
  font-size: 2.25rem !important;
  font-weight: 600 !important;
}
@media (max-width: 767px) {
  .login__head {
    font-size: 1.75rem !important;
  }
}
.login__forgot {
  text-decoration: none;
  color: #686868;
}
.login__forgot:hover {
  color: #686868;
}
@media (max-width: 767px) {
  .login__forgot {
    font-size: 0.875rem;
  }
}
.login__create {
  color: #251f47;
  text-decoration: none;
}
.login__create:hover {
  color: #251f47;
}
@media (max-width: 767px) {
  .login__create {
    font-size: 0.875rem;
  }
}

.form-check {
  margin-bottom: 10px !important;
}

.global-btn {
  margin: 8px 0 !important;
}

.sign-up__width {
  width: 70%;
  padding-top: 1rem !important;
}
.sign-up__back {
  color: #686868;
  text-decoration: none;
}
.sign-up__back:hover {
  color: black;
}

.reset__banner-container {
  width: 100%;
  height: 230px;
  position: relative;
}
@media (max-width: 767px) {
  .reset__banner-container {
    height: 120px;
  }
}
.reset__banner-container .banner-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.reset__logo {
  position: absolute;
  top: 10px;
  left: 25px;
  z-index: 2;
  display: block;
  width: 250px;
  height: 97px;
}
@media (max-width: 425px) {
  .reset__logo {
    height: 50px;
    width: 100px;
  }
}
@media (max-width: 767px) {
  .reset__logo {
    width: 150px;
    height: 75px;
  }
}
.reset__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.reset__undraw-container {
  width: 350px;
  height: 280px;
}
@media (max-width: 425px) {
  .reset__undraw-container {
    height: 150px;
    width: 250px;
  }
}
.reset__undraw-container img {
  width: 100%;
  height: 100%;
}

.figure {
  width: -webkit-min-content !important;
  width: -moz-min-content !important;
  width: min-content !important;
}

.author__profile {
  height: 40rem;
  border-bottom: none !important;
  border-right: 2px solid #a7a1a1;
}
@media (max-width: 768px) {
  .author__profile {
    border-right: none;
    border-bottom: 2px solid #a7a1a1 !important;
    height: auto !important;
  }
}
.author__profile-pic {
  min-width: auto;
}
.author__follow-btn {
  background: #5bb184 !important;
}
@media (max-width: 768px) {
  .author__follow-btn {
    width: 12rem;
  }
}
.author__follower {
  color: #686868;
}
.author__follow-slogan {
  color: #686868;
}
.author__main-dob {
  color: #686868;
}
.author__main__genres {
  color: #686868;
  font-style: italic;
}
.author__biography {
  padding-bottom: 2.5rem;
  color: #686868;
  font-style: italic;
  border-color: #a7a1a1;
}
.author__books {
  margin-block: 2.5rem;
}

.carousel-author__books__buttons {
  display: flex;
  position: relative;
}
@media (max-width: 675px) {
  .carousel-author__books__buttons {
    justify-content: center;
    gap: 1rem;
  }
}
.carousel-author__books__btn-left {
  position: absolute;
  top: -225px;
  left: -50px;
  cursor: pointer;
}
@media (max-width: 675px) {
  .carousel-author__books__btn-left {
    position: static;
  }
}
.carousel-author__books__btn-right {
  position: absolute;
  top: -225px;
  right: -50px;
  cursor: pointer;
}
@media (max-width: 675px) {
  .carousel-author__books__btn-right {
    position: static;
  }
}

.contact-us__width {
  width: 90%;
}
@media (min-width: 768px) {
  .contact-us__width {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .contact-us__width {
    width: 70%;
  }
}
.contact-us .card {
  background-color: hsla(0deg, 0%, 0%, 0.73) !important;
  width: min(25rem, 100% - 2rem);
}
@media (min-width: 768px) {
  .contact-us .card {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .contact-us .card {
    width: 75%;
  }
}

.main-container {
  width: min(1350px, 100% - 4rem);
  margin-inline: auto;
}
.main-container h3 {
  font-family: "Rubik", sans-serif !important;
  font-size: 2rem;
}
.main-container .form-select {
  padding: 0.625rem 0.725rem !important;
  background-color: #f6f6f6 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.profile__following-head, .profile__recentorders-head, .profile__updateinfo-head, .profile__usercredientials-head, .profile__payment-head, .profile__shipping-head, .profile__wishlist-head {
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 1.5rem;
}
.profile__unfollow-btn {
  background-color: #ff4848;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 1rem;
}
.profile__following-card {
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
}
.profile__side-menu {
  border-right: 1px solid #c4c4c4 !important;
  padding: 15px 30px;
}
.profile__following-count {
  font-size: 0.775rem;
  color: #686868;
  font-weight: bold;
}
.profile__following-head p {
  color: #686868;
}
.profile__sub-info {
  color: #686868;
  font-size: 0.925rem;
}
.profile__img-container {
  width: 178px;
  height: 187px;
}
.profile__img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.profile__recentorders-card:is(:hover, :focus) {
  scale: 1.01;
}
.profile__recentorders-card {
  border: 1px solid #a7a1a1;
  margin-bottom: 1.5rem;
  padding: 1rem 1.75rem 1.75rem 1.75rem;
  flex: 0 0 auto;
  width: 95.66666667%;
  border-radius: 5px;
  box-shadow: 0 0.25em 0.5em #a7a1a1;
}
.profile__recentorders-card__id {
  margin-bottom: 0.5rem !important;
}
.profile__recentorders-card__body {
  display: flex;
  gap: 1.75rem;
}
.profile__recentorders-card__body-img {
  width: 106px;
  height: 145px;
}
.profile__recentorders-card__body-info {
  width: min(66%, 66% - 4rem);
  color: #686868;
  font-size: 0.9rem;
}
.profile__recentorders-card__body-info__head {
  color: black !important;
}
.profile__recentorders-card__body-info__cancel-button {
  border: none;
  background: transparent;
  color: #ff4848 !important;
  text-align: start;
  padding: 0 !important;
}
.profile__recentorders-card__body-info__cancel-button:is(:hover, :active) {
  border: none;
  border-bottom: 1px solid !important;
}
.profile__recentorders-card__body-price {
  margin-left: auto !important;
  color: #ff4848;
}
.profile__payment {
  color: #686868;
}
.profile__shipping-card:is(:hover, :focus) {
  scale: 1.01;
}
.profile__shipping-card {
  border: 1px solid #a7a1a1;
  margin-bottom: 1.5rem;
  padding: 1rem 1.75rem 1.75rem 1.75rem;
  flex: 0 0 auto;
  -webkit-margin-end: 4.33333333%;
          margin-inline-end: 4.33333333%;
  border-radius: 5px;
  box-shadow: 0 0.25em 0.5em #a7a1a1;
  align-items: flex-start;
}
.profile__shipping-card__body {
  color: #686868;
  font-size: 0.9rem;
}
.profile__shipping-card__body__head {
  color: black !important;
}
.profile__shipping-card__edit-btn {
  background-color: transparent;
  color: #686868;
  border: none;
}
.profile__shipping-card__edit-btn:is(:hover, :focus) {
  color: black;
}
.profile__shipping__add-address-btn {
  padding: 10px 12px;
  margin-right: 4.33333333% !important;
}

.update-info__img {
  height: 270px !important;
}

.user-credientials__email__verify-btn, .user-credientials__number__verify-btn {
  margin-top: 1.9rem !important;
  margin-bottom: 0 !important;
}
@media (max-width: 1200px) {
  .user-credientials__email__verify-btn, .user-credientials__number__verify-btn {
    margin-top: 0.25rem !important;
  }
}

.wishlist__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 1.5rem;
}

.add-address__btn-save {
  padding: 0.5rem 3rem;
  border: none;
  color: #ffffff;
  background-color: #251f47;
}
.add-address__btn-save:is(:focus, :hover) {
  background-color: rgba(37, 31, 71, 0.862745098);
}
.add-address__btn-cancel {
  padding: 0.5rem 3rem;
  border: none;
  color: black;
}

.cart__less, .cart__more {
  cursor: pointer;
}
.cart__items {
  overflow-y: scroll;
  height: 300px;
}
.cart__continue a {
  color: #686868;
  text-decoration: none;
  font-weight: 600;
}
.cart__continue a:hover {
  color: #686868;
}
.cart__listing-head {
  border-bottom: 1px solid #878787;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.cart__input {
  width: 30px;
  text-align: center;
}
.cart__product-detail-head {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 45px;
  color: black;
  text-decoration: none;
}
.cart__product-detail-head:hover {
  color: black;
}
.cart__product-img img {
  width: 75px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__listing-subhead h6 {
  color: #686868;
}
.cart__apply-btn {
  padding: 10px 25px;
  border: none;
  background-color: #ff4848;
  color: #ffffff;
}
.cart__listing-count {
  font-size: 2rem;
  font-weight: 400;
}
.cart__summary {
  background-color: #eef0f2;
}
.cart__summary-input {
  border: none;
  padding: 10px;
  width: 60%;
}
.cart__summary-input::-moz-placeholder {
  text-transform: capitalize;
}
.cart__summary-input:-ms-input-placeholder {
  text-transform: capitalize;
}
.cart__summary-input::placeholder {
  text-transform: capitalize;
}
.cart__summary-details {
  border-bottom: 1px solid #878787;
}
.cart__summary-shipping-key {
  color: #686868;
}
.cart__summary-head {
  border-bottom: 1px solid #878787;
  padding: 0 10px;
}
.cart__summary-head h2 {
  font-weight: 400;
}

.category__filter-column {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #e9e4e4;
  padding: 1.5rem;
  border-radius: 5px;
}
.category__range-result {
  color: #686868;
  font-weight: 400;
}
.category__genres-checkbox {
  display: flex;
  flex-direction: column;
}
.category__genres-checkbox .form-check {
  margin-bottom: 0 !important;
}
.category__showMore {
  color: #251f47;
  cursor: pointer;
}
.category__sort-btn {
  background: #251f47 !important;
  color: white !important;
}
.category__listing-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.nav__breadcrumb, .nav__pagination {
  background-color: white !important;
  height: 50px;
  cursor: pointer;
}

#quantity-no {
  width: 35px;
  aspect-ratio: 1;
  text-align: center;
  margin-inline: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1019607843);
  border: none;
  border-radius: 4px;
  color: #686868;
}
#quantity-no:is(:hover, :focus-within, :focus) {
  color: #000000;
  scale: 1.1;
}
#quantity-no-sub, #quantity-no-add {
  border: none;
  background-color: transparent;
  color: #686868;
}
#quantity-no-sub:is(:hover, :active), #quantity-no-add:is(:hover, :active) {
  color: #000000;
  scale: 1.5;
}

.product-details__img__main {
  width: 100%;
  aspect-ratio: 1;
}
.product-details__img__others .img-active {
  border-color: #000000 !important;
}
.product-details__img__others * {
  width: 140px;
  aspect-ratio: 1;
  border: 4px solid #686868;
}
.product-details__img__others *:is(:focus, :hover) {
  border-color: #000000;
}
.product-details__btn__buy-now {
  padding: 0.5em 3em;
  border: none;
  color: #ffffff;
  background-color: #251f47;
}
.product-details__btn__buy-now:is(:focus, :hover) {
  background-color: rgba(37, 31, 71, 0.862745098);
}
.product-details__btn__add-to-cart {
  padding: 0.3em 2em;
  border: none;
  color: #ffffff;
  background-color: #ff4848;
}
.product-details__btn__add-to-cart:is(:focus, :hover) {
  background-color: rgba(255, 72, 72, 0.6980392157);
}
.product-details__social {
  color: #686868;
}
.product-details__social-link {
  font-size: 1.5rem;
  color: #000000;
}
.product-details__social-link:is(:hover, :focus) {
  color: #686868;
}/*# sourceMappingURL=main.css.map */