@use "../sass-utils/variables" as color;

.figure {
  width: min-content !important;
}

.author {
  &__profile-pic {
    width: 176px;
    height: 185px;
    object-fit: cover;
  }

  &__profile {
    border-color: color.$profile-border-color;
    height: 40rem;
    top: 30px !important;
  }
  &__follow-btn {
    background: #5bb184 !important;
  }
  &__follower {
    color: color.$text-color;
  }
  &__follow-slogan {
    color: color.$text-color;
  }
  &__main {
    &-dob {
      color: color.$text-color;
    }
    &__genres {
      color: color.$text-color;
      font-style: italic;
    }
  }
  &__biography {
    padding-bottom: 2.5rem;
    color: color.$text-color;
    font-style: italic;
    border-color: color.$profile-border-color;
  }
  &__books {
    margin-block: 2.5rem;
  }
}
.carousel-author__books {
  &__buttons {
    display: flex;
    position: relative;

    @media (max-width: 675px) {
      justify-content: center;
      gap: 1rem;
    }
  }

  &__btn-left {
    position: absolute;
    top: -225px;
    left: -50px;
    cursor: pointer;

    @media (max-width: 675px) {
      position: static;
    }
  }

  &__btn-right {
    position: absolute;
    top: -225px;
    right: -50px;
    cursor: pointer;

    @media (max-width: 675px) {
      position: static;
    }
  }
}
