@use "../sass-utils/variables" as color;

.figure {
  width: min-content !important;
}

.author {
  &__profile {
    height: 40rem;
    border-bottom: none !important;
    border-right: 2px solid color.$profile-border-color;
    position: sticky;
    top: 2rem;

    @media (max-width: 768px) {
      border-right: none;
      border-bottom: 2px solid color.$profile-border-color !important;
      height: auto !important;
      position: unset;
      top: unset;
    }

    &-pic {
      min-width: auto;
    }
  }
  &__follow-btn {
    background: #5bb184 !important;
    @media (max-width: 768px) {
      width: 12rem;
    }
  }
  &__follower {
    color: color.$text-color;
  }
  &__follow-slogan {
    color: color.$text-color;
  }
  &__main {
    &-dob {
      color: color.$text-color;
    }
    &__genres {
      color: color.$text-color;
      font-style: italic;
    }
  }
  &__biography {
    padding-bottom: 2.5rem;
    color: color.$text-color;
    font-style: italic;
    border-color: color.$profile-border-color;
  }
  &__books {
    margin-block: 2.5rem;
  }
}
.carousel-author__books {
  &__buttons {
    display: flex;
    position: relative;

    @media (max-width: 675px) {
      justify-content: center;
      gap: 1rem;
    }
  }

  &__btn-left {
    position: absolute;
    top: -225px;
    left: -50px;
    cursor: pointer;

    @media (max-width: 675px) {
      position: static;
    }
  }

  &__btn-right {
    position: absolute;
    top: -225px;
    right: -50px;
    cursor: pointer;

    @media (max-width: 675px) {
      position: static;
    }
  }
}
