@use "../sass-utils/variables" as color;
.sign-up {
  &__width {
    width: 70%;

    padding-top: 1rem !important;
  }

  &__back {
    color: color.$text-color;
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}
