@use "../sass-utils/variables" as color;

.main-container {
  width: min(1350px, 100% - (2rem * 2));
  margin-inline: auto;
  h3 {
    font-family: "Rubik", sans-serif !important;
    font-size: 2rem;
  }
  .form-select {
    padding: 0.625rem 0.725rem !important;
    background-color: #f6f6f6 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  }
}

.profile {
  &__following-head,
  &__recentorders-head,
  &__updateinfo-head,
  &__usercredientials-head,
  &__payment-head,
  &__shipping-head,
  &__wishlist-head {
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 1.5rem;
  }
  // Following Tab
  &__unfollow-btn {
    background-color: color.$primary-red;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 1rem;
  }

  &__following-card {
    border-bottom: 1px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
  }

  &__side-menu {
    border-right: 1px solid #c4c4c4 !important;
    padding: 15px 30px;
  }

  &__following-count {
    font-size: 0.775rem;
    color: color.$text-color;
    font-weight: bold;
  }

  &__following-head {
    p {
      color: color.$text-color;
    }
  }

  &__sub-info {
    color: color.$text-color;
    font-size: 0.925rem;
  }

  &__img-container {
    width: 178px;
    height: 187px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
  // Your Orders Tab

  &__recentorders-card:is(:hover, :focus) {
    scale: 1.01;
  }

  &__recentorders-card {
    border: 1px solid color.$profile-border-color;
    margin-bottom: 1.5rem;
    padding: 1rem 1.75rem 1.75rem 1.75rem;
    flex: 0 0 auto;
    width: 95.66666667%;
    border-radius: 5px;
    box-shadow: 0 0.25em 0.5em color.$profile-border-color;

    &__id {
      margin-bottom: 0.5rem !important;
    }

    &__body {
      display: flex;
      gap: clamp(1.5rem, 1.75rem, 2rem);
    }

    &__body-img {
      width: 106px;
      height: 145px;
    }

    &__body-info {
      width: min(66%, 66% - (2rem * 2));
      color: color.$text-color;
      font-size: 0.9rem;

      &__head {
        color: black !important;
      }

      &__cancel-button {
        border: none;
        background: transparent;
        color: color.$primary-red !important;
        text-align: start;
        padding: 0 !important;
      }
      &__cancel-button:is(:hover, :active) {
        border: none;
        border-bottom: 1px solid !important;
      }
    }

    &__body-price {
      margin-left: auto !important;
      color: color.$primary-red;
    }
  }

  // Payment Tab

  &__payment {
    color: color.$text-color;
  }
}

// Update Info Tab
.update-info {
  &__img {
    height: 270px !important;
  }
}
.user-credientials {
  &__email__verify-btn,
  &__number__verify-btn {
    margin-top: 1.9rem !important;
    margin-bottom: 0 !important;
  }
  @media (max-width: 1200px) {
    &__email__verify-btn,
    &__number__verify-btn {
      margin-top: 0.25rem !important;
    }
  }
}

// Wishlist Tab
.wishlist {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 1.5rem;
    // width: fit-content;
  }
}
